$theme-color: #2C3539;
$title-color: #d19a66;
$text-color: #abb2bf;

$color-transparent: rgba(0,0,0,0.2);
$color-transparent-darker: rgba(0,0,0,0.4);

// Defining Break points for devices
$breakpoints: (
    'small' : 767px,
    'medium' : 992px,
    'large' : 1200px
);

@mixin respond-to($breakpoint) {
    $value: map-get($breakpoints, $breakpoint );

    @if $value != null {
        @media (min-width: $value) {
            @content;
        }
    }

    @else {
        @warn "Could not retrieve value from `#($breakpoint)`. " 
        + "Please make sure it is defined in `$breakpoints` map.";
    }
}

// Define font size
$font-size: 1em; 

// Define margins
$margin-zero: 0em;
$margin-small: 9em;
$margin-medium: 18em;

// Define borders
$border-medium: 4px;
$border-radius-small: 5px;
$border-radius-large: 20px;

// Define padding
$padding-zero: 0em;
$padding-small: 9px;
$padding-medium: 18px;
