* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #171817;
}

.landing {
    background-image: url("../images/dark_trail.png") no-repeat center center;
    background-size: cover;
    height: auto;
    margin: 50px;
}

h1 {
    color: white;
    font-size: 5rem;
    text-align: center;
    text-decoration: underline;
   /* border-bottom: 3px solid cyan; */
}

h3 {
    color: white;
    font-size: 2rem;
    text-align: center;
}

p {
    color: white;
    font-size: 12pt;
    text-align: center;
}

/* About Page Styling */

.container {
    justify-content: center;
    flex-direction: column;

}

.post {
    flex-wrap: initial;
    flex-direction: row;
    width: 100%;
    box-sizing: border-box;
}

.content {
    border: 1px solid white;
    margin: 20px 10% ;
}

.content h1, h2, p {
    margin: 25px;
    padding-bottom: 20px;
    color: white;  
}

.content p {
    font-size: 25px;
}
