* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #171817;
}

h1 {
    color: white;
    font-size: 5rem;
    text-align: center;
    text-decoration: underline;
   /* border-bottom: 3px solid cyan; */
}

h3 {
    color: white;
    font-size: 2rem;
    text-align: center;
}

p {
    color: white;
    font-size: 12pt;
    text-align: center;
}

/* About Page Styling */

.container {
    justify-content: center;
    flex-direction: column;

}

.post {
    flex-wrap: initial;
    flex-direction: row;
    width: 100%;
    box-sizing: border-box;
}

.content {
    border: 1px solid white;
    margin: 20px 10% ;
}

.content h1, h2, p {
    margin: 25px;
    padding-bottom: 20px;
    color: white;  
}

.content p {
    font-size: 25px;
}

/* Contact Page */
#contact {
    margin-left: 10%;
    margin-right: 10%;
}

#contact h1{
    color: white;
}

#contact p {
    color: white;
    font-size: 20pt;
    margin-top: 3%;
}

#contact .social-links {
    margin-top: 5%;
    border: 1px solid lightblue;
}

#contact ul {
    margin-left: 27%;
    margin-top: 5%;
}

#contact li {
    font-size: 20pt;
    color: white;
    margin-bottom: 30px;
}

#contact li:last-child {
    margin-bottom: 10%;
}

#contact a {
    text-decoration: none;
    color: white;
}
